@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300 600;
  src: url("roboto-v51-latin-var-ccAYIvAh.woff2") format("woff2");
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300 600;
  src: url("roboto-v51-latin-ext-var-DYIxWhlt.woff2") format("woff2");
}

@font-face {
  font-family: Material Symbols Outlined;
  font-style: normal;
  font-weight: 400;
  src: url("material-symbols-outlined-Dgo0Z6hi.woff2") format("woff2");
}

@font-face {
  font-family: Material Icons Outlined;
  font-style: normal;
  font-weight: 400;
  src: url("material-icons-outlined-DZhiGvEA.woff2") format("woff2");
}

@font-face {
  font-family: Material Icons;
  font-style: normal;
  font-weight: 400;
  src: url("material-icons-outlined-DZhiGvEA.woff2") format("woff2");
}
